.header {
  width: 1200px;
  height: 70px;
  background-color: #161b38;
  color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo {
  margin-left: 20px;
  margin-right: 10px;
}

.logo__text {
  font-size: 30px;
}